<% provide(:title, '管理人プロフィール')%>
<div id="wrapper">
    <%= render 'layouts/breadcrumb' %>
  <div id="main">
    <h2>管理人について</h2>
    <p>人生楽しんで生きることを目的としています。</p>
  </div>

  <div id="sidebar">
    <section id="popular">
      <h2>人気記事</h2>
      <ul>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      </ul>
    </section>
    <section id="tags">
      <h2>タグ</h2>
      <ul>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      </ul>
    </section>
    <section id="adcense">
      <h2>アドセンス</h2>
    </section>
  </div>
</div>