<div id="wrapper">
  <div id="main">
    <h2>最新記事</h2>
    <div id="sort" class="dropdown">
      <a href='#' class="dropdown-toggle" data-toggle="dropdown">
        並び替え<b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "降順", "#" %></li>
        <li><%= link_to "昇順", "#" %></li>
        <li><%= link_to "人気順", "#" %></li>
      </ul>
    </div>

    <div class="pagination">ページネーション</div>
    <ul>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
    </ul>
    <div class="pagination">ページネーション</div>
  </div>

  <div id="sidebar">
    <section id="popular">
      <h2>人気記事</h2>
      <ul>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      <li><%=link_to "タイトルが入ります", '#' %></li>
      </ul>
    </section>
    <section id="tags">
      <h2>タグ</h2>
      <ul>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      <li class="tags"><%=link_to "# タグが入ります", '#' %></li>
      </ul>
    </section>
    <section id="adcense">
      <h2>アドセンス</h2>
    </section>
  </div>
</div>
