<div id="wrapper">
  <div id="main">
    <h2>最新記事</h2>
    <div id="sort" class="dropdown">
      <a href='#' class="dropdown-toggle" data-toggle="dropdown">
        並び替え<b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "降順", "#" %></li>
        <li><%= link_to "昇順", "#" %></li>
        <li><%= link_to "人気順", "#" %></li>
      </ul>
    </div>

    <ul id="article_index"><%= render @feed_items %></ul>
    
    <%= will_paginate @feed_items, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 1 %>
  </div>

  <%=render 'layouts/sidebar'%>
</div>

