<%= link_to "下書き一覧", drafts_path, class: "draft_link" %>
<%= link_to "テンプレートを使う", article_templates_path, class: "draft_link" %>

<%=form_with(model: @article, local:true, id: "article_form") do |f|%>
  <%= render 'layouts/error_messages', object: f.object %>

  <%= f.label "記事の公開" %>
  <div class="form-check">
    <%= f.radio_button :private_status, :public, class: 'form-check-input' %>
    <%= f.label "公開", class: 'form-check-label'%>
  </div>
  <div class="form-check">
    <%= f.radio_button :private_status, :private, class: 'form-check-input' %>
    <%= f.label "非公開または下書きとして保存", class: 'form-check-label'%>
  </div>


  <%= f.label "記事のタイトル" %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label "カテゴリー" %>
  <%= f.collection_select :category_id, @categorys.all, :id, :category, include_blank: "選択してください"%>

  <%= f.label "概要" %>
  <%= f.text_area :abstract, class: 'form-control', size: "24x3"%>

    <%= f.label "サムネイル画像" %>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: 'form-control' %>

  <%= f.label "内容" %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
  <%= f.text_area :content, class: 'form-control', size: "24x100" %>
  
<% end %>