<div id="wrapper">
  <div id="main">
    <h2>画像一覧</h2>
    <%= render 'layouts/sortbar' %>

    <ul id="image_index">
      <% @images.each do |image| %>
        <li>
          <%=image_tag image.resize_article_image, id: "copyTarget#{image.id}" %>
          id: <%=image.id%>
          | <%=link_to "コピー", '' , class: "copy_image", id: image.id%>
          | <%=link_to "削除", image, method: :delete, data: {confirm: "You sure?"}%>
        </li>
      <%end%>
    </ul>

    <%= will_paginate @images, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 1 %>
  </div>
</div>

